body {
  background-image: url(../assets/images/twoRoads.jpg);
  font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
  background-size: 115%;
}
#about {
  background-color:#ffffff;
  border: 1px solid black;
  opacity: 0.6;
  filter: alpha(opacity=60);
}
.link-options {
  float: left;
}
.headshot{
  float:left;
  height: 100px;
  width:auto;
  margin-left: 20px;
}
.topnav {
  background-color: aqua;
  color: white;
  
}

.card{
  text-align: center;
}
#picDiv{
  margin-left: 40%;
  margin-right: 40%;
}


