body {
  background-image: url(../images/Background.jpg);
  font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
  color: #777777;
  background-size: 100%;
}

.link-options {
  float: left;
}
.headshot{
  float:left;
  height: 150px;
  width:auto;
  margin-left: 20px;
}
.topnav {
  background-color: aqua;
  color: white;
  
}

.card{
  text-align: center;
}
#picDiv{
  margin-left: 40%;
  margin-right: 40%;
}
